{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Conic Section Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of a Conic Section</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">PARABOLA</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard Equation of Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Some Terms Related to Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Intersection of a Line and a Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent and Condition for Tangency</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent at a Given Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Normal</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Normal in Terms of Slope</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Showing that from any Point Three Normals Can be Drawn</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Parametric Equation of Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Chord of a Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Position of Points with Respect to Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Pair of Tangents from a Point ($\alpha$, $beta$)</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Chord of Contact</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pole and Polar</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Diameter of Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Optical Property of Parabola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard Equation of Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Second Focus and Second Directix of Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Some Terms Related to Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Position of a Point Relative to Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Parametric Equation of Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ancillary Circle and Eccentric Angle of a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent at a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Normal at a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Intersection of a Line and an Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent and Condition for Tangency</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of a Chord of Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Pair of Tangent from a Given Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pole and Polar</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Diameter of an Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Director Circle of an Ellipse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Four Normal can be Drawn from an External Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">HYPERBOLA</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard Equation of Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Terms Related to Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conjugate Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent from a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Normal from a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for Tangency</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Asymptotes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Rectangular Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Parametric Equation of Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Equation of Chord with middle Point Given</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Pair of Tangents to Hyperbola</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Equation of Chord of Contact</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Pole and Polar</h3>
    </section>
</div>
{% endblock %}