{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Co-ordinates Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cartesian Coordinate System</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Polar Coordinate System</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Polar and Cartesian Coordinates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Distance Formula in Cartesian Coordinates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Distance Formula in Polar Coordinates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Section Formula</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area of Triangle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area of Quadrilateral</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area of Polygon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formula for Centroid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formula for Incentre</h3>
    </section>
</div>
{% endblock %}