{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Straight Lines Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angle of Intersection of a Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Slope or Gradient of a Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Intercept of a Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of a Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Equation of a Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reduction of General Equation in Different Standard Forms</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conditions for Parallelism and Perpendicularity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Any Line Parallel to Given Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Any Line Perpendicular to a Given Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for Concurrency of Three Lines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Two Sides of a Straight Line</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Angle Bisector Between two Lines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Length of Perpendicular From Point ($\alpha$, $\beta$)</h3>
    </section>
</div>
{% endblock %}