{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
          }
        });
      </script>
    <style>
        @media (max-width: 576px) {
            .dropdown-item::before {
                transform: rotate(-90deg);
            }
        }

        #math {
            margin-bottom: 60px;
        }

        body {
            background-image: url(/static/main/images/darkened.png);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Exammania</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Exams
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropstart"><a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    href="#">Jee Mains</a>
                                <ul class="dropdown-menu" style="max-height: 200px; overflow-y: scroll;">
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Mains 2019</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2013 0 %}"
                                            class="dropdown-item">Jee Mains 2013</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Mains 2006</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Mains 2007</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Mains 2008</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Mains 2009</a></li>
                                </ul>
                            </li>
                            <li class="dropstart"><a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    href="#">Jee Advanced</a>
                                <ul class="dropdown-menu" style="max-height: 200px; overflow-y: scroll;">
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2004</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2005</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2006</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2007</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2008</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2009</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2010</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2011</a></li>
                                    <li><a href="{% url 'main:exam_solution' 'jee_mains' 2019 0 %}"
                                            class="dropdown-item">Jee Advanced 2012</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:book_solution' %}">Book Solutions</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="subjectDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="subjectDropdown">
                            <a class="dropdown-item" href="{% url 'main:notes' 'Physics' %}">Physics Notes</a>
                            <a class="dropdown-item" href="{% url 'main:notes' 'Chemistry' %}">Chemistry Notes</a>
                            <a class="dropdown-item" href="{% url 'main:notes' 'Maths' %}">Maths Notes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'videos_main' %}">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'question_list' %}">Ask</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'join' %}">Subscribe</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="subjectDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="subjectDropdown">
                            <a class="dropdown-item" href="{% url 'main:generate_test' 'physics' %}">Physics</a>
                            <a class="dropdown-item" href="{% url 'main:generate_test' 'chemistry' %}">Chemistry</a>
                            <a class="dropdown-item" href="{% url 'main:generate_test' 'math' %}">Math</a>
                        </div>
                    </li>
                    {% block extranav %}
                    {% endblock %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
                    </li>
                  {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <p class="mb-5" style="text-align: center;">[mathjax]</p>
    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script>
        window.onload = function() {
    var images = ['/static/main/images/darkened.png', '/static/main/images/image1.jpg', '/static/main/images/image4.jpg']; // Array of image paths
    var randomIndex = Math.floor(Math.random() * images.length); // Generate a random index
    var selectedImage = images[randomIndex]; // Get the randomly selected image path

    // Change the background image of the body
    document.body.style.backgroundImage = 'url(' + selectedImage + ')';
};
    </script> -->
    {% block script %}
    {% endblock %}
</body>

</html>