{% extends 'main/base.html' %}
{% block body %}


<h1>{{ subject }} Test</h1>

<form id="testForm">
  {% csrf_token %}
  <ol>
    {% for question in questions %}
      <li style="font-style: italic;color:orange;font-size: 1em;">
        {{ question.body }}
        <ul class="mt-3 mb-2" style="list-style: none;">
          {% for option in question.options %}
            <li style="color:beige">
              <input type="radio" name="question_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" value="{{ option }}">
              {{ option }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
  <input type="button" value="Submit Test" onclick="submitTest()">
</form>

<script>
  
function submitTest() {
  var questions = {{ questions|safe }};
  var modifiedQuestions = [];

  // Loop through each question
  for (var i = 0; i < questions.length; i++) {
    var currentQuestion = questions[i];
    var selectedOption = getSelectedOption(i); // Function to get selected option

    // Add selectedOption key-value pair to the question dictionary
    currentQuestion.selectedOption = selectedOption;
    modifiedQuestions.push(currentQuestion);
  }


  console.log(modifiedQuestions); // You can remove this for production

}
// Function to get the selected option for a question (modify based on your radio button name format)
function getSelectedOption(questionIndex) {
  var radioName = "question_" + (questionIndex + 1) + "_";
  var radios = document.querySelectorAll('input[name^="' + radioName + '"]');
  var result= []

  for (var j = 0; j < radios.length; j++) {
    if (radios[j].checked) {
      result.push(radios[j].value);
    }
  }
return result

}

</script>


{% endblock %}

