{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Capacitors Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Capacitance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Energy Stored in a Chsrged Capacitor</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Caoacitors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mechanical Force on Charged Conductors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Capacitors in Series and Parallel</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Two Laws of Capacitors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Energy Density</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">CR Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Method for Finding Eqivalent Capacitance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Resistance and Capacitance</h3>
    </section>
</div>
{% endblock %}