{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Current Electricity Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electric Current</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electric Current in Conductor</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Drift Vrlocity and Relaxation Time</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Resistance of a Wire</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Temperature Dependance of Resistance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ohm's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Battery and Electromotive Force</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Circuits and Krichhoff Law's</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heating Effect of Electric Current</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Grouping of Cell's</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrical Measuring Instruments</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Color Code for Resistors</h3>
    </section>
</div>
{% endblock %}