{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Angle and Their Measurements Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angle in Trigonometry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angle in Geometry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angle Sign</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Quadrants</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Measuring Systems</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radians</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Different Systems</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Interior angle of a Polygon and its Sides</h3>
    </section>
</div>
{% endblock %}