{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Properties of Triangles Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Sines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Cosines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Tangents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Cotangents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Projection Formula</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Half Angle Formula</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area of Triangles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Results Related to Circumcircle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Results Related to Incircle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Results Related to Inscribed</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Result related to Circumcentre, Incentre, Orthocentre, Centroid
        </h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Results Related to Polygons</h3>
    </section>
</div>
{% endblock %}