{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Trigonometric Functions of Compound Angles Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition Formula</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Subtraction Formula</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tansformation of Sum into Product</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Transformation of Product into Sum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Trigonometric Ratios of Mutiple Angles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Trigonometric Ratios of Sub Multiple Angles</h3>
    </section>
</div>
{% endblock %}