{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Trigonometric Functions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Trigonometric Functions For any Angles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Limiting Values of Trigonometric Angles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Trignometric Ratios</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Trigonometric Ratios of $90 - \theta$, $90 + \theta$, $1800 -
            \theta$, $180 + \theta$, $360 + \theta$, $360 - \theta$</h3>
    </section>
</div>
{% endblock %}