{% extends "main/base.html" %}

{% block body %}
<div class="container">
        <h1 class="text-center" style="color:orange;">Physics Notes</h1>
        <section>
                <h1 style="color:orange;">Mechanics</h1>
                <p1>0. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Measurements and Errors' %}">Measurements
                                and
                                Errors</a>
                        </p>
                        <p>1. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Units and Dimensions' %}">Units
                                        and
                                        Dimensions</a>
                        </p>
                        <p>2. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Vectors' %}">Vectors</a>
                        </p>
                        <p>3. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Kinematics' %}">Kinematics</a>
                        </p>
                        <p>4. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Projectile Motion'%}">Projectile
                                        Motion</a>
                        </p>

                        <p>5. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Laws of Motion' %}">Laws
                                        of
                                        Motion</a>
                        </p>
                        <p>6. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Work Energy and Power' %}">Work
                                        Energy
                                        and
                                        Power</a>
                        </p>
                        <p>7. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Circular Motion' %}">Circular
                                        Motion</a>
                        </p>
                        <p>8. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Units and Dimensions' %}">Center
                                        of
                                        Mass,
                                        Linear
                                        Momentum and Collision</a></p>
                        <p>9. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Rotational Mechanics' %}">Rotational
                                        Mechanics</a>
                        </p>
                        <p>10. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Gravitation' %}">Gravitation</a>
                        </p>
                        <p>11. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Shm' %}">Simple
                                        Harmonic
                                        Motion</a></p>
                        <p>12. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Elasticity' %}">Elasticity</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'Mechanics' 'Fluid Mechanics' %}">Fluid
                                        Mechanics</a>
        </section>
        <section>
                <h2 style="color:orange">Waves and Thermodynamics</h1>
                        <p>14. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Wave Motion' %}">Wave
                                        Motion</a>
                        </p>
                        <p>15. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Superposition of Waves' %}">Superposition
                                        of
                                        Waves</a></p>
                        <p>16. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Sound Waves' %}">Sound
                                        Waves</a>
                        </p>
                        <p>17. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Units and Dimensions' %}">Thermometery,
                                        Thermal
                                        Expansion and Kinetic Theory of Gases</a></p>
                        <p>18. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Laws of Thermodynamics' %}">Laws
                                        of
                                        Thermodynamics</a></p>
                        <p>19. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:notes_details' 'Physics' 'WavesThermodynamics' 'Units and Dimensions' %}">Calorimetry
                                        and
                                        Heat
                                        Transfer</a></p>
        </section>

        <section>
                <h2 style="color:orange">Electricity And Magnetism</h2>
                <p>20. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Current Electricity' %}">Current
                                Electricity</a>
                </p>
                <p>21. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Units and Dimensions' %}">Electrostatics</a>
                </p>
                <p>22. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Units and Dimensions' %}">Capacitors</a>
                </p>
                <p>23. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Units and Dimensions' %}">Magnetics</a>
                </p>
                <p>24. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Units and Dimensions' %}">Electromagnetic
                                Induction</a>
                </p>
                <p>25. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'ElectricityMagnatism' 'Units and Dimensions' %}">Alternating
                                Current</a>
                </p>

        </section>
        <section>
                <h2 style="color:orange">Optics And Modern Physics</h2>
                <p>26. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Units and Dimensions' %}">Electromagnetic
                                Waves</a>
                </p>
                <p>27. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Units and Dimensions' %}">Reflection
                                of
                                Light</a>
                </p>
                <p>28. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Units and Dimensions' %}">Refraction
                                of
                                Light</a>
                </p>
                <p>29. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Interference' %}">Interference
                                and
                                Diffraction</a></p>
                <p>30. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Modern PhysicsII' %}">Modern
                                Physics
                                I</a></p>
                <p>31. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Modern PhysicsI' %}">Modern
                                Physics
                                II</a></p>
                <p>32. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Semiconductors' %}">Semiconductors</a>
                </p>
                <p>33. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:notes_details' 'Physics' 'OpticsModernPhysics' 'Communication Systems' %}">Communication
                                Systems</a>
                </p>
        </section>
</div>
{% endblock %}