{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Communication System Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Terms Used in Communication System</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bandwidth of Signals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bandwidth of Tranmission Medium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Propagation of Electromagnetic Waves or Communication Channels</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Modulation</h3>
    </section>
</div>
{% endblock %}