{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Semiconductors Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Energy Bands in Solids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interensic and Extrensic Semiconductors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">P-N Junction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Junction Diode as Rectifiers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of P-N Junction Diode</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Juction Transistors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Transistor as an Amplifier</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Digital Electronics and Logic Gates</h3>
    </section>
</div>
{% endblock %}