{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Change of Axes Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Translation of Axes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rotation of Axes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Translation of a Graph</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Scaling of a Graph</h3>
    </section>
</div>
{% endblock %}