{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Circle Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard Equation of Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for General Equation of Second Degree to Represent a
            Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nature of Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Circle with Given Condition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Parametric Equation of a Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Position of a Point with Respect to the Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Intersect of a Line and a Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangent</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Normal</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for Tangency and Point of Contact</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Length of Tangent</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pair of Tangents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chord of Contact</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pole and Polar</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angle of Intersection of two Circle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radical Axis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of a System of Coaxial Circles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Limiting Points of a Coaxial System</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Any Circle Passing Through Point of Intersection of Two
            Circles</h3>
    </section>
</div>
{% endblock %}