.card {
    background-color: transparent !important;
}

/* Responsive layout */
@media (max-width: 320px) {
    .col-md-4 {
        flex: 1 1 100%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .col-md-4 {
        flex: 1 1 50%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 1 1 33.3333%;
    }
}

.booklist {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: aliceblue
}

/* a:hover {
    color: orangered
} */