{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Area Under a Curve</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area Enclosed by the Curve and X-axis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area Enclosed by the Curve and Y-axis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Area Enclosed Between Two Curves</h3>
    </section>
</div>
{% endblock %}