{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Differential Equations</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Order, Degree and Linearity of O.D.Es</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solution of Diffrential Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solution of O.D.Es of first Degree and First Order</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Homogenous O.D.Es</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Non Homogenous But Reducable to Homogenousd</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bernoulli EQuation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Exact Differential Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Differential Equation of Higher Degree and Order</h3>
    </section>
</div>
{% endblock %}