{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Functions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Domain and Range of a Function</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Independent and Dependent Variable</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Common Functions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Functions</h3>
    </section>
</div>
{% endblock %}