{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Limits Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Limits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Indeterminate Forms</h3>
    </section>
</div>
{% endblock %}