{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Differentiation as Rate Measure Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interpretation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Velocity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acceleration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Approximate Values</h3>
    </section>
</div>
{% endblock %}