{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Tangents and Normal Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gradients</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tangents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Tangents and Normal at a Point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Length of Tangent, Normal,Subtangent, Subnormal at a Point</h3>
    </section>
</div>
{% endblock %}