{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Aldehydes and Ketones</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nomenclature of Aldehydes and Ketones</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Aldehydes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Ketones</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nucleophilic Addition to the Carbon Oxygen Double Bond</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Alcohols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Addition of Primary and Secondary Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Hydrogen cyanide</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Ylides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation of Aldehydes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Baeyer-Viliger Oxidation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical analysis of Aldehydes and Ketones.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Vicinity of $\alpha$ Hydrogens</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Keto and Enol Tautomers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions Via Enols Enolates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Although Reactions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crossed Aldol Condensation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cyclization by Adol Condensation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lithium Enolates</h3>
    </section>
</div>
{% endblock %}