{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Alkenes and Alkynes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The E-Z System</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relative Stability of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cycloalkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dehalohydrogenation of Alkyl Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dehydration of Alcohols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Occurrence of Molecular Rearrangements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Acidity of Terminal Alkynes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Alkyne by Elimination Reactions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Terminal Alkynes to Nucleophiles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogenation of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogenation of Alkynes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction to Organic Synthesis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition Reaction of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stereochemistry of Ionic Addition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Water to Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alcohols form Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydroboration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation and Hydrolysis of Alkylboranes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary of alkene hydration methods</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Protonlysis of alkalyboranes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrophilic addition of Halogens to Alkene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stereospecific Reactions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halohydrin Formation.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidative cleavage of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrophilic Addition of Halogens to Alkynes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Hydrogen Halides to Alkynes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">How to Plan Synthesis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidative Clevage Alkynes</h3>
    </section>
</div>
{% endblock %}