{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Amines</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nomenclature</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties and Structure of Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Basicity of Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction means with Nitrous Acid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Replacement Reactions of Arenediazonium Salts</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Coupling Reactions of Arenediazonium Salts</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of amines with Sulfonylchloride.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthetics of Sulpha Drugs</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Eliminations involving Ammonium Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary of preparations and reactions of amines</h3>
    </section>
</div>
{% endblock %}