{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Aromatic Compounds</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Discovery of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nomenclature of Benzene Derivatives</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kekule Struture for Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermodynamic Stability of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Modern Theories of the Structure of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Huckel's Rule</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other Aromatic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heterocyclic Aromatic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrophilic Aromatic Substitution Reactions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General mechanism for Aromatic Electrophilic Substitution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halogenation of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitration of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sulfonation of Benzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Friedel-Craft Alkylation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Friedel-Craft Acylation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Limitation Friedel-Craft of Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Friedel-Craft Acylation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Effects of substituents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of side chains of Alkylbenzenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alkenylbenzene</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthetic Applications</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Allylic and Benzylic Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reduction of Aromatic Compounds</h3>
    </section>
</div>
{% endblock %}