{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Bonding and Molecular Structure</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Atomic Structure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Structural Theory of Organic Chemistry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Bonds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Resonance Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hyperconjugation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hybridization</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">How to Write a Structural Formula</h3>
    </section>
</div>
{% endblock %}