{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Carbenes and Carbenoids</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Exsistence of Carbenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formation of Carbenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Carbenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction of Carbenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rearrangement in Carbenes</h3>
    </section>
</div>
{% endblock %}