{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Conjugation</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alkadienes and Polyansaturated Hydrocarbones</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electron Delocalization</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrophilic attack on Conjugated Dienes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Diels-Alder Reaction</h3>
    </section>
</div>
{% endblock %}