{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Isomerism</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Isomerism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chirality ahd Stereoisomerism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enantiomers and Chiral Molecules</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chirality Centre</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Biological importance of Chirality</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Chirality</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Naming Enantiomers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Enantiomers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Origin of Optical Activity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Synthesis of Chiral Molecules</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chiral Drugs.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Molecules with more than one Chirality Centre</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fisher Projection Formulas</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sterioisomerism of Cyclic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relating Configurations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Separation of Enantiomers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Compounds with Chirality centre other than Carbon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Biphenyl</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Racemization of Biphenyl Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tautomerism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gero Entropy</h3>
    </section>
</div>
{% endblock %}