{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Chemical Bonding</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stable Configration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Bonds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Covalent Bonds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Valence Bond Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">VSEPR Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">d Orbital Participation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Covalent Bonds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Molecular Orbitals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">LCAO Method</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Linear Combination of Atomic Orbitals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">MOT for Homonuclear Diatomic Molecules</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">MOT for Hetronuclear Diatomic Molecules</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Diapole Moment</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The IOnic Bond</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Close Packing</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ionic Compound of Type AX</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ionic Compound of Type $AX_{2}$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Layer Structure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lattice Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stoichiometric Defects</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nonstoichiometric Defects</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Born-Haber Cycle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Polarizing Power and Polarizability</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Melting Point of Ionic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solubility of Organic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrical Conductivity and Color</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acidic Nature of Oxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermal Stability of Ionic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Weak Forces</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interaction Between Covalent and Ionic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Metallic Bond</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Theories of Bonding in Metals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conductors, Insulators and Semiconductors</h3>
    </section>
</div>
{% endblock %}