{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Coordination Compounds</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Double Salts and Coordination Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Werner's Work</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complex's</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification of Ligands</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Effective Atomic Number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Shapes of d Orbital</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bonding in Transition Metal Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Valence Bond Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crystal Field Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Effects of Crystal Field Spliting</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">TetraGonal distortion of Octahedral Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Square Planar Arrangement</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tetrahedral Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extention of The Crystal Field Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nomenclature of Coordination Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Isomerism</h3>
    </section>
</div>
{% endblock %}