{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 17 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction with water</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactivity of the Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogen Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halogen Oxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxoacids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interhalogen Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Polyhalides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pseudohalogens and Pseudohalides</h3>
    </section>
</div>
{% endblock %}