{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 2 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">General properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Anmolous behaviour of beryllium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydroxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hardness of water</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction with Acids and bases.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxides and Peroxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">sulphates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitrates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitites</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carbides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Biological role of $Mg^{2+}$ and $Ca{2+}$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Differences between beryllium and others</h3>
    </section>
</div>
{% endblock %}