{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">The Sblock Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structures of the Metal</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Flame Color and Spectra</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Colour of Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxides Hydroxides Peroxides & Suproxyids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sulphides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxosalts</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halide and Polyhalide</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrites</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solubility and Hydration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solution of metals in liquid ammonia</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Compound with carbon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complexes crowns and Crypts</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Biological importance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Difference between lithium and other Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of sodium hydroxide</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrolytic process</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of sodium carbonate</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Solvy Process</h3>
    </section>
</div>
{% endblock %}