{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Hydrolysis</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through SN_{1}</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through SN_{2}</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through Addition-Elimination</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through Addition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through Redox Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrolysis Through Push-Pull Mechanism</h3>
    </section>
</div>
{% endblock %}