{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Metallurgy</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Ores</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Principal steps in Mwtal Recovery</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Concentration of Ores</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Convergent of Concentrated Ores into Oxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reduction Processes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Refining of Metals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermodynamics of Reduction Processes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alloys and Amalgams</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Different Types of Furnaces</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Silver</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Gold</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Tin</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Magnesium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Aluminium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Lead.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Copper</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Zinc</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extraction of Iron</h3>
    </section>
</div>
{% endblock %}