{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Qualitative Salt Analysis Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Action of Dilute Acids</h3>
    </section>
    <h3 style="color:orange;">Acid Radicals</h3>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for $CO_{3}^{2-}$, $HCO_{3}^{-}$ and
            $SO_{3}^{2-}$/$HSO_{3}^{-}$ Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Sulphide Radical $S^{2-}$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Thiosulphide $S_{2}O_{3}^{2-}$ Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Nitrites $NO_{2}^{-}$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for acetate, formates and Oxalate Radicals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Halide Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Nitrate Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Sulphate Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Borate Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Phosphate Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Chromate and Dichromate</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Permanganate and Manganate</h3>
    </section>
    <h3 style="color:orange;">Basic Radicals</h3>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dry Test for Basic Radical</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Wet Test for Basic Radicals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Test for Cations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heating Effect</h3>
    </section>
</div>
{% endblock %}