{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">dBlock Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Variable oxidation State</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Size of atoms and ions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Density</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Melting and Boiling point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactivity of metals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">ionisation energies</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Colour</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Catalytic Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Non Stoichiometry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Abundance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chromate and Dichromate</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Manganate and Permanganate</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Silver and its Compound</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Zinc Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Copper Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Iron Compounds</h3>
    </section>
</div>
{% endblock %}