{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 16 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structure and allotropy of the elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Reactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General properties of Oxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxides of Sulphur</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxoacids of Sulphur</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxohalides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halides</h3>
    </section>
</div>
{% endblock %}