{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 13 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidationis states and types of bonds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of boron</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Boron</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of the other elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Compounds of boron and oxygen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other group 13 oxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tetrahedroborates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Differences between boron and other elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Boron hydrides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Boranes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The structure of Boranes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Organomettalic Compounds</h3>
    </section>
</div>
{% endblock %}