{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 18 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Occurance and recovery</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Uses of the Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The special properties of helium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical properties of the noble Gases</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemistry of Xenon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structure and bonding in Xenon Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structure of some xenon Compounds</h3>
    </section>
</div>
{% endblock %}