{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Group 14 Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structure and allotropy of the Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Differences between Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Reactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carbides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxygen compounds of carbon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carbonates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">sulphides of Carbon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxides of Silicon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxides of Tin and Lead</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Silicates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification of Silicates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Glass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Organosilicon compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrides of Silicon.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Complexes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Internal $\pi$ Bonding</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Halides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Organic Derivatives</h3>
    </section>
</div>
{% endblock %}