{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Hydrogen and Hydrides Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electronic Structure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Position in the Periodic Table</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Abundance of Hydrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of Hydrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of molecular Hydrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Isotopes of Hydrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ortho and para Hydrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The hydrogen Ion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogen Bonding</h3>
    </section>
</div>
{% endblock %}