{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Differentiation Rules Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of a Constant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Product of a Constant and a Function</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Sum of Functions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Product of Functions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Quotients</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Function of Functions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Impicit Function</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">D.C of Function Defined by Parameter</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Logarithmic Differentiation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formulae</h3>
    </section>
</div>
{% endblock %}