{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Maximum and Monimum Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Max Value</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Min Value</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extremum Value</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Global Max</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Global Min</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Concavity</h3>
    </section>
</div>
{% endblock %}