{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Adsorption and Catalysis Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Adsorption and Absorption</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mechanism of Adsorption</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of adsorption</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Adsorption isotherms</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Adsorption from solution phase</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Adsorption Isobars and Isostere</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Adsorption</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Homogeneous and Heterogeneous Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Characteristics of Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Theories of Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acid-Base Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enzyme Catalysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Catalyst in Industry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Zeolites</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Automobile Catalytic Converters</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
</div>
{% endblock %}