{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Atomic Structure Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cathode Rays</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Positive Rays</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rutherford Experiment</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Moseley Experiment</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Discovery of Neutron</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rutherford's Model</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electromagnetic Radiation.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Emission Spectra</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Quantum Theory of Radiation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bohr's Atomic Model</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summerfield's Extention of Bohr's Model</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Particle and Wave Nature of Electrons</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hiesenberg Uncertainty Principle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Wave Mechanical Model Atoms</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Quantum Numbers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pauli's Exclusion Principle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Aufbau Principle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hund's Rule of Maximum Multiplicity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electronic Configuration of Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Photoelectric Effect</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other Fundamental Particles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Isotopes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Stability</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Whole Number Rule and Packing Fraction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magic Numbers</h3>
    </section>
</div>
{% endblock %}