{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Basic Principles Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemistry and its Scope</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Brief History of Chemistry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Matter and Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Elements and Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mixtures</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alloys</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical and Chemical Changes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Laws of Chemical Combination</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dalton's Atomic Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Atoms Molecules and Formulae</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Atomic and Molecular Mass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Avogadro's Hypothesis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mole concept</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equivalent Masses</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Method for the Determination of Atomic Mass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Formulae</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Percentage composition of Compound</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Determination of Empirical and Molecular Formulae</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Measurement in Chemistry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
</div>
{% endblock %}