{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Colligative Properties Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Particle size and Colloidal State</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of colloidal solutions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of colloidal solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Purification of Colloidal Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Colloidal Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Emulsion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification of Colloidal Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gels</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Colloides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
</div>
{% endblock %}