{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Chemical Equlibrium Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">State of chemical Equilibrium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Chemical Equilibrium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction Quotient</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Activation Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard free energy change</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equilibrium constant expression</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Le Chatelier's principle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Degree of dissociation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oswald's dilution Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Common Ion Effect</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solubility product</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acids and bases.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relatives Strength</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acid-Base Neutralisation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ionic product of water</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogen ion Concentration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">PH of Weak Acids and Bases</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Buffer Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Salt hydrolysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Theory of indicators</h3>
    </section>
</div>
{% endblock %}