{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Chemical Kinetics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">rate of reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Mass Action</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rate constant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Collision Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Molecularity of Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Order of Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pseudo Order Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction Mechanism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of various orders</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Method of Determination</h3>
    </section>
</div>
{% endblock %}