{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">States of Matter Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Gaseous State</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gas Laws</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ideal gas Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dalton's law of partial pressure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Graham's law of diffusion.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kinetic theory of gases</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Maxwell's Boltzmann Distribution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Van der wall's Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Critical Phenomenon</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Liquification Gaseous</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Liquid State</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Solid State</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Forms of solids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Isotrop and Anisotropy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crystalline and amorphous solids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Symmetry in Crystals</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Space lattice and unit cells</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crystal systems</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Miller indices</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crystallography and X Ray diffraction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Analysis of Cubic solids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Properties</h3>
    </section>
</div>
{% endblock %}