{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Chemical Thermodynamics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Terms used Thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Internal Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">First Law of Thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heat capacity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Expansion of Ideal Gases</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermodynamic processes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Joule Thompson Effect</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermochemistry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heat of reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy of formation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy of combustion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy of Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy of neutralisation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Enthalpy of physical Changes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hess's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Influence of temperatureon heat of reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bond Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Determination of lattice Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heat of reaction Determination</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Limitations of First Law of Thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Spontaneity and non spontaneity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Entropy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Entropy change</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">2nd law of thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gibb's free energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Free Energy and Spontaneity.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard free energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Free energy equilibrium constant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Significance of Gibbs free energy.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Absolute entropy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">3rd Law Thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carnot's Cycle</h3>
</div>
{% endblock %}