{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Centre of Mass,Linear Momentum and Collision Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Centre of Mass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Motion of Centre of Mass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Conservation of Lunear Momentum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Variable Mass Systems</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Linear Impulse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Collision</h3>
    </section>
</div>
{% endblock %}