{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Elasticity Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Elasticity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stres and Strain</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hooke's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stress Strain Curve</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Potential Energy Stored in a Streched Wire</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermal Strain and Stress</h3>
    </section>
</div>
{% endblock %}