{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Gravitation Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Newton's Laws of Gravitation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acceleration due to Gravity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gravitation Field and Field Strength</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Gravitational Field and Potential</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Gravitional Potential Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Binding Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Motion of Satellites</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kepler's Laws of Planetary Motion</h3>
    </section>
</div>
{% endblock %}