{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Kinematics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction to Mechanics and Kinematics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Points About Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification of Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Basic Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Uniform Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">One Demensional Motion with Uniform Acceleration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">One Demensional Motion with Non-Uniform Acceleration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Motion in Two or Three Dimension</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Graphs</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relative Motion</h3>
    </section>
</div>
{% endblock %}