{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Laws of Motion Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Forces</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Free Body Diagram</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equlibrium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Newton's Laws of Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Constraint Equations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pseudo Forces</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Friction</h3>
    </section>
</div>
{% endblock %}