{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Projectile Motion Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Projectile Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Two Methods of Solving a Prabolic Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Time of Flight of a Projectile</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Maximum Height of a Projectile</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Range of a Projectile</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Projectile Motion on Inclined Plane</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relative Motion Between Two Projectiles</h3>
    </section>
</div>
{% endblock %}