{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Simple Harmonic Motion Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Displacement Equation of S.H.M</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Time Equation of S.H.M</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between S.H.M and Uniform Circular Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Time Period of S.H.M</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Method of Combining Two or More S.H.M</h3>
    </section>
</div>
{% endblock %}