{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Units and Dimensions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Units</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fundamental and Derived Units</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dimensions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Uses of Dimensions</h3>
    </section>
</div>
{% endblock %}