{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Vectors Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Vector and Scaler Quantities</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Points About the Vectors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Additionn and Subtraction of Vectors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Components of a Vector</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Product of two Vectors</h3>
    </section>
</div>
{% endblock %}