{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Work Energy and Power Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction to Work</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Work Done</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conservative and Non Conservative Forces</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kinetic Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Work Energy Theorem</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Potential Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Three Types of Equilibrium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Power of a Force</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lsw of Conservation of Mechanical Energy</h3>
    </section>
</div>
{% endblock %}