{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Circular Motion Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kinematics of Circular Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dynamics of Circular Motion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Centrifugal Force</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Motion in a Vertical Circle</h3>
    </section>
</div>
{% endblock %}