{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Fluid Mechanics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition of Fluid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Density of Liquid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pressure of Fluid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Pressure Difference in Accelerating Fluid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Archimede's Principle</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Flow of Fluid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application Based on Bernoulli Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Viscosity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Surface Tension</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cappilary Rise and Fall</h3>
    </section>
</div>
{% endblock %}