{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Meaaurement and Errors Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Least Count</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Significant Figures</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rounding off a Digit</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Algebraic Operations with Significant Figures</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Error Analysis</h3>
    </section>
</div>
{% endblock %}