{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Rotational Mechanics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Moment of Inertia</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angular Momentum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Torque</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rotation of Rigid Biodies About an Axis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angular Momentum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conservation of Angular Momentum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Combined Translational and Rotational Motion of Rigid Bodies</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Uniform Pure Rolling</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Instantaneous Axis of Rotation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Accelerated Pure Rollling</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Angular Impluse</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Toppling</h3>
    </section>
</div>
{% endblock %}