{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Permutation and Combination Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fundamental Principle of Counting</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Factorials</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Permutation of n Diffrent Thing Taken r at a Time</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Permutation of n Diffrent Thing Taken all at a Time</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Permutation of n Diffrent Thing Taken all at a Time When all are
            not Different</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Permutation of n Diffrent Thing Taken r at a Time When each Thing
            can be Repeated r Times</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Circular Permutation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Clockwise and Anticlockwise Arrangements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Combinations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of $\binom{n}{r}$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Finding Total Number of Combinations of n Different thing Taken one
            or more at a Time</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Finding Total Number of Combinations of n Different thing Taken one
            or more at a Time when all are not Diffrent</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Distribution of Thing among Sets and Persons</h3>
    </section>

</div>
{% endblock %}