{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Quadratic Equations and Expressions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Showing that Every Quadratic Equation has two and only two roots
        </h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sum and Product of roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Discriminant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nature of Roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conjugate Roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">irrational roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Symmetry Function of roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Forming the quadratic Equation with root $\alpha$ and $\beta$</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for one Common root</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for both Root Common</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Corresponding Quadratic Equation of a Quadratic Expression</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Expressing the Expression in Terms of Roots</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sign of Quadratic Expression</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Maximum and Minimum value of the Quadratic Expression</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for Perfect Square</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition for Resolving the Quadratic Expression in two Linear
            Factors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sign Scheme for Rational Function</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Rational Function</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Position of Roots eith Respect to one or two Real Numbers</h3>
    </section>
</div>
{% endblock %}