{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Alternating Currents Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alternating Current</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Current and Potential Relation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Phasor Algebra</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Series LR Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Series CR Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Series LCR Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Power in an A.C Circuit</h3>
    </section>
</div>
{% endblock %}