{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Electromagnetic Induction Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Field Line and Flux</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Faraday's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lenz's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Motional Electromotive Force</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Self Inductance and Inductors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mutual Inductance</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Growth and Decay of Currents in LR Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Occillation in L.C Circuits</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Induced Electric Field</h3>
    </section>
</div>
{% endblock %}