{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Electrostatics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electric Charge</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conductors and Insulators</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Charging of a Body</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Coulomb's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electric Field</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrical Ptential Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrical Potential</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relation Between Electric Field and Ptential</h3>
    </section>
</div>
{% endblock %}