{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Magnetics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Force on Moving Charges</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Path of a Charged Particle in Uniform Magnetic Field</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Force on Current Carrying Conductor</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Diapole in Uniform Magnetic Field</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Biot Savert's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Biot Savert's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ampere's Circuital Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Force Between Parallel Current Carrying Conductors</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Poles and Bar Magnet</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Earth's Magnetism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Vibrational Magnetometer</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Magnetic Induction and Magnetic Materials</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Some Terms Used in Magnetism</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Magnetic Materials</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Paramagnetism, Diamagnetism and Ferromagnetism</h3>
    </section>
</div>
{% endblock %}