{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Electromagnetic Waves Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Displacement Current</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electromagnetic Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electromagnetic Spectrum</h3>
    </section>
</div>
{% endblock %}