{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Interference and Defraction Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Principle of Superposition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Resultant Amplitude and Intensitydue to Coherent Sources</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interference</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Young's Double Slit Experiment</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction to Diffraction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Diffraction from Narrow Slit</h3>
    </section>
</div>
{% endblock %}