{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Modern Physics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Dual Nature of Electromagnetic Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electromagnetic Soectrum</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Momemtum and Radiation Pressure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">De-brogli Wavelength of Matter Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Early Atomic Structure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Bohr's Model of Hydrogen Atom</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrogen Like Atoms</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">X rays</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Emmission of Electrons</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Photoelectric Effect</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Stability and Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radioactive Decay Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Successive Disintegration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Eqvivalance of Mass and Energy</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Binding Energy and Nuclear Stability</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Fission</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Fusion</h3>
    </section>
</div>
{% endblock %}