{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Reflection of Light Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">General Concepts</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reflection of Light</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reflenction From a Spherical Surface</h3>
    </section>
</div>
{% endblock %}