{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Refraction of Light Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Refraction of Light and Refractive Index</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Refraction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Single Refraction from Plane Surface</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Shift due to Glass Slab</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Refraction From Soherical Surface</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lens Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Total Internal REflection</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Refraction Through Prisms</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Deviation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Optical Instruments</h3>
    </section>
</div>
{% endblock %}