{% extends "main/base.html" %}

{% block body %}
<h1 class="text-center" style="color:orange;">Complex Numbers Notes</h1>
<div class="container">
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
        <p>An expression of the form x + iy, where x and y are real numbers, and i is a symbol is called a complex
            number
            and is usually denoted by z.</p>
        <p>x is called the real part, and y is called the imaginary part of z.</p>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equality of Complex Numbers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>
        <p>Two complex numbers $x_{1} + iy_{1}$ and $x_{2} + iy_{2}$ are equal if and only if $x_{1} = x_{2}$
            and
            $y_{1} = y_{2}$</p>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Algebra of Complex Numbers</h3>
        <p><strong style="color:orange;">Addition: </strong>The sum of two complex numbers, $x_{1} + iy_{1}$ and $x_{2}
            +
            iy_{2}$ is
            the complex number $x_{1} + x_{2} + i(y_{1} + y_{2})$</p>
        <p><strong style="color:orange;">Subtraction</strong>The diffrence of two complex numbers, $x_{1} + iy_{1}$ and
            $x_{2}
            +
            iy_{2}$ is
            the complex number $x_{1} - x_{2} + i(y_{1} - y_{2})$</p>
        <p><strong style="color:orange;">Multiplication</strong>The diffrence of two complex numbers, $x_{1} + iy_{1}$
            and
            $x_{2}
            +
            iy_{2}$ is
            the complex number $x_{1}x_{2} - y_{1}y_{2} + i(x_{1}y_{2} - x_{2}y_{1})$</p>
        <p><strong style="color:orange;">Division</strong></p>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Addition of Complex Numbers</h3>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Multiplication of Complex Numbers</h3>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
        <p><strong style="color:orange;">Division</strong></p>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conjugate of a Complex Number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Modulus of a Complex Number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Argument of a Complex Numbers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of the Conjugate</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of the Modulus</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of the Argument</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Geometrical representation of Complex Numbers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Square Root of a Complex Number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cube Root of Unity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nth Root of Unity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">De moivre's Theorem</h3>
    </section>
</div>

{% endblock %}