{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Determinants Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Definition</h3>

    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Evaluation of a Determinant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Order of a Determinant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Minor and Cofactors of a Determinant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of a Determinant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">System of Linear Equations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nature of Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Condition of consistancy of three linear equations in two unknown
        </h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">System of Homogenous Linear Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Product of two Determinants</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Differential Coefficient of a Determinant</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Square of a Determinant</h3>
    </section>
</div>
{% endblock %}