{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Mathematical Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Priciple of Mathematical Induction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Extended form of Mathematical Induction</h3>
    </section>
</div>
{% endblock %}