{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Matrix Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of Matrices</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equality of Matrices</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Addition of Matrices</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Matrix Addition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Multiplication by Scaler</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Scaler Multiplication</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Transpose of a Matrix</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Transpose</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Inverse of a Matrix</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Adjoint of a Matrix</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">System of Linear Equations</h3>
    </section>
</div>
{% endblock %}