{% extends "main/base.html" %}

{% block body %}
<div class="container">
        <h1 class="text-center" style="color:orange;">Chemistry Notes</h1>
        <section>
                <h1 style="color:orange;">Inorganic Chemistry</h1>
                <p1>0. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Atomic Structure' %}">Atomic Structure</a>
                        </p>
                        <p>1. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Periodic Table' %}">Periodic Table</a>
                        </p>
                        <p>2. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Chemical Bonding' %}">Chemical Bonding</a>
                        </p>
                        <p>3. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Acids And Bases' %}">Acids And Bases</a>
                        </p>
                        <p>4. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Hydrolysis'%}">Hydrolysis</a>
                        </p>

                        <p>5. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Coordination Compounds' %}">Coordination Compounds</a>
                        </p>
                        <p>6. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Metallurgy' %}">Metallury</a>
                        </p>
                        <p>7. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Salt Analysis' %}">Salt Analysis</a>
                        </p>
                        <p>8. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Hydrogen' %}">Hydrogen</a>
                        </p>
                        <p>9. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group1' %}">Group I</a>
                        </p>
                        <p>10. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group2' %}">Group II</a>
                        </p>
                        <p>11. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group13' %}">Group XIII</a>
                        </p>
                        <p>12. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group14' %}">Group XIV</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group15' %}">Group XV</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group16' %}">Group XVI</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group17' %}"> Group XVII</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'Group18' %}">Group XVIII</a>
                        </p>
                        <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'D Block' %}">D Block Elements</a>
                </p>
                <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'InorganicChemistry' 'F Block' %}">F Block Elements</a>
                </p>                  
        </section>
        <section>
                <h2 style="color:orange">Organic Chemistry</h1>
                        <p>14. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Bonding And Structure' %}">Bonding And Molecular Structure</a>
                        </p>
                        <p>15. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Functional Groups' %}">Functional Groups</a></p>
                        <p>16. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Acids And Bases' %}">Acids And Bases</a>
                        </p>
                        <p>17. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Isomerism' %}">Isomerism</a>
                        </p>
                        <p>18. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Reactions' %}">Reactions</a>
                        </p>
                        <p>19. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                        href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Alkanes Cycloalkanes' %}">Alkanes And Cycloalkanes</a>
                        </p>
                        <p>20. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Alkenes And Alkynes' %}">Alkenes And Alkynes</a>
                        </p>
                        <p>21. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Alcohol And Ethers' %}">Alcohols And Ethers</a>
                        </p>
                        <p>22. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Congugated Unsaturated' %}">Congugated And Unsaturated Systems</a>
                        </p>
                        <p>23. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Aromatic Coumpounds' %}">Aromatic Compounds</a>
                        </p>
                        <p>23. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Aldehydes Ketones' %}">Aldehydes And Ketones</a></p>
                        <p>24. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Carboxylic Acids' %}">Carboxylic Acids And Their Derivatives</a></p>
                        <p>25. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Amines' %}">Amines</a>
                        </p>
                        <p>26. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Phenols And Aryl' %}">Phenols and Aryl Halides</a></p>
                        <p>27. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Carbohydrates' %}">Carbohydrates</a>
                        </p>
                        <p>28. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Aminoacids' %}">Aminoacids And Proteins</a></p>
                        <p>29. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Carbenes' %}">Carbenes</a></p>
                        <p>30. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Nitrenes' %}">Nitrenes</a></p>
                        <p>31. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'OrganicChemistry' 'Polymers' %}">Polymers</a></p>
        </section>

        <section>
                <h2 style="color:orange">Physical Chemistry</h2>
                <p>32. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Basic' %}">Basic Principles</a>
                </p>
                <p>33. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Atomic Structure' %}">Atomic Structure</a>
                </p>
                <p>34. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Radioactivity' %}">Radioactivity And Nuclear Transformations</a>
                </p>
                <p>35. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Statesofmatter' %}">States of Matter</a>
                </p>
                <p>36. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Solutions' %}">Solutions</a>
                </p>
                <p>37. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                                href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Colloidalstate' %}">Colloidal State</a>
                </p>
                <p>38. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Thermodynamics' %}">Chemical Thermodynamics And Thermochemistry</a>
                </p>
                <p>39. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Kinetics' %}">Chemical Kinetics</a>
                </p>
                <p>40. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Equilibrium' %}">Chemical Equilibrium</a>
                </p>
                <p>41. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Redox' %}">Oxidation And Reduction</a>
                </p>
                <p>42. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Electrochemistry' %}">Electrochemistry</a>
                </p>
                <p>43. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Adsorption' %}">Adsorption and Catalysis</a>
                </p>
                <p>44. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Analysis' %}">Volumetric Analysis</a>
                </p>
                <p>45. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                        onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                        href="{% url 'main:working_rules_details' 'Chemistry' 'PhysicalChemistry' 'Stoichiometry' %}">Stoichiometry</a>
                </p>


        </section>
</div>
{% endblock %}