{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Laws of Thermodynamics Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">First Law of Thermodynamics</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Different Thermodynamic Processes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heat Engine and its Efficiency</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Refrigirator</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Zroth Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Second Law</h3>
    </section>
</div>
{% endblock %}