{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Sound Waves Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Displacement Wave, Density Waves and Pressure Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Speed of a Longitudnal Wave</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sound Wave in Gases</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Sound Intensity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interference in Sound Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standing Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Beats</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Doppler Effect</h3>
    </section>
</div>
{% endblock %}