{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Superposition of Waves Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Principle of Superposition</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Resultant Amplitude and Intensity due to coherent Sources</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Interference</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standing Waves</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Normal Modes of a String</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reflection and Transmission of Waves</h3>
    </section>
</div>
{% endblock %}