{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Thermometry, Kinetic Theory of Gases Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermometer and Celsius Themperature Scale</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Absolute Themperature Scale</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Heat and Temperature</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Thermal Expansion</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Behaviour of Gases</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Degree of Freedom</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Internal Energy of an Ideal Gas</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Law of Equipartition of Energy</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Molar Heat Capacity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kinetic Theory of Gases</h3>
    </section>
</div>
{% endblock %}