{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Wave Motion Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification of Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Equation of Travelling Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sine Wave</h3>
    </section>

    <section>
        <h3 style="color:orange; font-weight: bold;">Two Graphs of Sine Waves</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Wave Speed</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Energy in Wave Motion</h3>
    </section>
</div>
{% endblock %}