{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Volumetric Analysis Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Terms used in Volumetric Analysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Concentration representation of Solutions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Classification reactions involved in volumetric analysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Calculation of equivalent mass of different substances</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acid base Titrations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Redox Titration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Iodometric and Iodimetric iteration</h3>
    </section>
</div>
{% endblock %}