{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Electrochemistry Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preferential Discharge Theory</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Faraday's law of Electrolysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Electrolysis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Arrhenius Theory of Electrolytic Dissociation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Degree of ionisation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrolytic conduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kohlraush's Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Theory of weak electrolytes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrochemical cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Daniel cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Salt Bridge</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Representation of electrochemical cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrode potential</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Standard electrode potential</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reference electrode</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Measurement of electrode potential</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Emf of a Galvanic Cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reversible and irreversible cells</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Some other reference electrodes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Prediction of redox Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nerst's Equation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Electrochemical series</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Primary Voltic cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Secondary Voltic Cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fuel cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Concentration cell</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Production of chemicals</h3>
    </section>
</div>
{% endblock %}