{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Radioactivity and Nuclear Transformation Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Characteristics of Radioactive Radiation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Discovery of Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Analysis of Radioactive Radiations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Kausar Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Theory of Radioactive Disintegration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Group Displacement Law</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radioactive Disintegration Series</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rate of Disintegration</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Average Life</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Radioactive Equilibrium</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Units of Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Artificial Transmutation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Artificial Radioactivity</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Fission</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nuclear Fusion</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthetic Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Radioactivity</h3>
    </section>
</div>
{% endblock %}