{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Oxidation and Reduction Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Molecular and ionic equations</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation and reduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Modern concept of oxidation Reduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Balancing redox reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation Number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation state Determination</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation numbers of different types of Elements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Valency oxidation number</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation number method of Balancing</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Disproportion and oxidation-Reduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Autooxidation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formal Charge</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stock Notation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stoichiometry of Redox Reactions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
</div>
{% endblock %}