{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Solutions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solvent and solute</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Types of solutions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Concentration of a Solution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solution of gases in liquids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solihull liquids in liquids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fractional distillation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Solution of solids in liquids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Collegiate properties of dilute Solutions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lowering of Vapour Pressure</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Elevation of boiling point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Depression of freezing point</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Osmosis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Van't Hoff Theory of Dilute Solutions</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Determination of molecular mass</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reverse osmosis</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Abnormal Colligative Properties</h3>
    </section>
</div>
{% endblock %}