{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Alcohols and Ethers</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Structure and Momenclature</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties of Alcohols and Ethers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis Alcohols from Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Alcohols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alcohols as Acids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conversion of Alcohols to Alkylhalides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Tosylates, Mesylates and Triflates</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Rearrangements</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Ethers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction of Ethers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Epoxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reaction of Epoxides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Anti Dihydroxylation of Alkenes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Crown Ethers</h3>
    </section>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The structure of carbonyl Group</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation Reduction Reaction in Organic Chemistry</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alcohols by Reduction of Carbonyl Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation of Alcohols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Organimetallic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Organometallic Compounds</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alcohols from Grignard's Reagents</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Lithium Dialkylcuprates</h3>
    </section>
</div>
{% endblock %}