{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Alkane and Cycloalkane</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Shape of Alkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Naming Alkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Naming Alkenes and Cycloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Naming Alkynes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Properties of Alkanes and Cycloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Sigma Bond and Bond Rotation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conformational Analysis of Butane</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Relative Stability of cycloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Conformations Cycloalkanes.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Substituted Cycloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Disbstituted Cycloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bicyclic and Polycyclic Alkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Chemical Reactions of Alkanes.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of Alkanes and Cycloalkane</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">How to gain structural information</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Application of Basic Principles</h3>
    </section>
</div>
{% endblock %}