{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Carboxylic Acids and Their Derivatives</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The main culture and Physical Properties</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Preparation of carboxylic Acids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acyl Substitution</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Acyl Chlorides.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carboxylic Acid Unhydrides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Easter</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Amides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Derivatives of Carbonic Acid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Decarboxylation carboxylic Acid</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Test for Acyl Group</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
</div>
{% endblock %}