{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Carbohydrates</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Introduction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Monosaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Mutarotation</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Glucoside Formation.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other reactions of Monosaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Oxidation reactions of Monosaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reduction reactions of Monosaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis and Degradation of Monosaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The D family Aldoses</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Fisher proof</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Disacharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Polysaccharides</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other Sugars</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitrogen Containing Sugars</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carbohydrate Antibiotics</h3>
    </section>
</div>
{% endblock %}