{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Functional Groups</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hydrocarbons</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Polar and Non polar Molecules</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Functional Groups</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alkyl halides or Haloalkanes</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Alcohols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Ethers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Amines</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Aldehydes and ketones</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Carboxylic acids and its Derivatives</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitriles</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Summary</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties and Molecular Structure</h3>
    </section>
</div>
{% endblock %}