{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Nitrenes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Migration to Electron deficient Nitrogen</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nitrene Formation.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hoffman=Curtis-Lossen-Schmidth Group of Rearrangement.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Curtis Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Schmidth's Reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Hoffman-Bromaide reaction</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Bechmann Rearrangement.</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Stieglitz Rearrangement</h3>
    </section>
</div>
{% endblock %}