{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Structure and Nomenclature of Phenols</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Naturally occurring Phenols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Physical Properties of Phenols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Synthesis of phenols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of phenols as Acids</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Other Reactions of Phenols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Cleavage of Alkyl Aryl Ethers</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Reactions of Benzene rings of Phenols</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">The Claisen Rearrangement</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Quinones</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Nucleophylic Aromatic Substitution</h3>
    </section>
</div>
{% endblock %}