{% extends "main/base.html" %}
{% block extrahead %}
<style>
    body {
        font-style: oblique;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Inverse Trigonometric Functions Notes</h1>
    <section>
        <h3 style="color:orange; font-weight: bold;">Defination</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Principle Values</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Method of Finding Principle Values</h3>
    </section>
    <section>
        <h3 style="color:orange; font-weight: bold;">Formulae</h3>
    </section>
</div>
{% endblock %}